lenguaje-de-marcas-y-sistemas-de-gestion-de-informacion/tema-2/LMSGI_UD2_Tarea_MartaTorreAjo/impresoras.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="tipoImpresora">
    <xs:restriction base="xs:string">
      <xs:enumeration value="matricial"/>
      <xs:enumeration value="laser"/>
      <xs:enumeration value="tinta"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pesoType">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cartuchoType">
    <xs:restriction base="xs:string">
      <xs:pattern value="C-[0-9]{3}[A-Z]{1,2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="impresoraType">
    <xs:sequence>
      <xs:element name="marca" type="xs:string"/>
      <xs:element name="modelo" type="xs:string"/>
      <xs:element name="peso" type="pesoType"/>
      <xs:element name="tamanyo" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="cartucho" type="cartuchoType"/>
      <xs:element name="enred" minOccurs="0">
        <xs:complexType/>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="numSerie" type="xs:ID" use="required"/>
    <xs:attribute name="tipo" type="tipoImpresora" use="required"/>
    <xs:attribute name="compra" type="xs:positiveInteger" use="optional"/>
  </xs:complexType>

  <xs:element name="impresoras">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="impresora" type="impresoraType"
                    minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
